<label>Server Name</label>
<!--Two way binding-->
<input 
type="text" 
class="form-control"
[(ngModel)]="serverName">
<p>{{ serverName }}</p>

<input 
type="text" 
class="form-control"
(input)="onUpdateServerName($event)">

<button 
class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>

<!--ngIf directive-->
<p *ngIf="serverCreated; else noServer">server was created {{ serverName }}</p>
<ng-template #noServer>
    <p>No Server Was created</p>
</ng-template>

<!--event binding-->
<p>{{ serverCreationStatus }}</p>

<!--string interpolation-->
<p>{{ allowNewServer }}</p>

<!--property binding-->
<p [innerText]="allowNewServer"></p>

<app-server *ngFor="let server of servers"></app-server>